body {
  font-family: 'Cabin', sans-serif;
  color: #373A3C;
  /* font-family: 'Lobster', cursive; */
}

/* .carousel-indicators {
 top: 50px;
}  */
/* .carousel-indicators ol {
 position: relative;
} */
.carousel-indicators li {
 width: 10px;
 height: 10px;
 border-radius: 50%;
}

footer {
  height: 10.6rem;
}

.mostrar{
width: 200px;
background-color:white;
border:0;
padding: 10px;
font-size: 10px;
margin:10px;
color: #373A3C;
}

h1{
  /* font-family: 'Lobster', cursive; */
  /* font-size: 3.34rem; */
}

h2 {
  font-family: 'Lobster', regular;
  color: white;
}


hr {
  color: black;
  background-color: black;
  width:100%;
}

#ricomida{
  font-family: 'Lobster', regular;
}

#botonancho{
  width: 233pt;
}
